html,
body {
  background: #030712 !important;
  background-color: #030712 !important;
  color-scheme: dark !important;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  width: 100% !important;
}
